
//
// Sidebar.
//

// Sidebar wrapper.
.sidebar {
  overflow: hidden;

  width: $sidebar-width;
  height: 100vh;

  background-color: rgba(#000, .05);

  box-shadow: inset -2px 0px 4px -2px rgba(0,0,0, .2), inset -4px 0px 8px -2px rgba(0,0,0, .2),
}
